{% load comments %}	
	{% get_comment_list for instance as steve %}

	{% for comment in steve %}
		<div class="alert alert-info" role="alert">{{comment.user_name}} said: {{comment.comment}}</div>
	{% endfor %}

{% if user.is_authenticated %}

		{% get_comment_form for instance as form %}

		<form action="{% comment_form_target %}" method="POST">
		{% csrf_token %}
			<input type="hidden" name="name" value="{{request.user.username}}">
			<input type="hidden" name="email" value="{{request.user.email}}">
			<input type="text" class="form-control input-lg" name="comment">
			{{form.content_type}}
			{{form.object_pk}}
			{{form.timestamp}}
			{{form.security_hash}}
			<input type="submit" name="submit" class="btn btn-primary">
			</form>

{% else %}
Login is required
{% endif %}
